<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Conexion"
		connectionString="Data Source=localhost;Initial Catalog=BdPruebaGestor; Persist Security Info=True;User ID=userExamen;Password=*Examen2022;Connect Timeout=200"
		providerName="System.Data.SqlClient" />
		<add name ="Endpoint"
			 connectionString="https://documents-nezter.cognitiveservices.azure.com/"/>
		<add name ="Key"
			 connectionString="d08916c3baa84328a61b997922be2ca1"/>
	</connectionStrings>
</configuration>